.App {
  color: aliceblue;
  line-height: 1.6;
}

.Gradient-Wrapper-AboutMe {
  background: linear-gradient(364deg, #004148 20%, transparent 0%);
  background-color: #1c6d73;
}
.Gradient-Wrapper-Skills {
  background: linear-gradient(355deg, #01565d 20%, #004148 1%);
}

.Gradient-Wrapper-Projects {
  background: linear-gradient(365deg, transparent 20%, #01565d 1%);
}

@media screen and (min-width: 1280px) {
  .BG-Image {
    z-index: -10;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}

.App-Headline-Section {
  text-align: center;
  height: 190px;
  padding: 192px 48px 348px 48px;
  background: linear-gradient(355deg, #1c6d73 20%, transparent 0%);
}

@media screen and (max-width: 1280px) {
  .BG-Image {
    display: none;
  }
  #Headline-BG-Image {
    background-image: url(/src/bg-images/Banff\ 45\ OP.jpg);
    background-size: cover;
    background-position: 50%, 50%;
    z-index: 199;
  }
}

.App-AboutMe-Section {
  height: 420px;
  width: 65vw;
  padding: 48px 48px 76px 48px;
  margin: auto;
}

.About-Me-Icon {
  width: 240px;
  height: 240px;
  float: right;
  padding-left: 60px;
}

.App-Skills-Section {
  height: 680px;
  width: 65vw;
  padding: 48px 48px 16px 48px;
  margin: auto;
}

.App-Projects-Section {
  height: 780px;
  width: 65vw;
  padding: 48px 48px 86px 48px;
  margin: auto;
}

.App-Contact-Section {
  height: 580px;
  width: 65vw;
  padding: 48px 48px 16px 48px;
  margin: auto;
}

.Headline-Menu {
  text-align: right;
  width: 100vw;
  height: 30px;
  padding: 20px 0px;
  position: fixed;
  z-index: 10;
}

.Menu {
  margin-right: 20px;
  padding: 8px 12px;
  border: lightblue 1px solid;
  border-radius: 5px;
}

.Menu-Text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3;
}

.Headline-Component {
  display: inline-block;
  text-align: left;
}

.Headline-Name {
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 14px;
  margin-bottom: 28px;
  border-bottom: 2px solid aliceblue;
  width: 65vw;
}

.Headline-Title {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 32px;
}

#AboutMe-Headline-Name {
  text-align: right;
  font-size: 32px;
  font-weight: 600;
}

#Skills-Headline-Name {
  text-align: right;
  font-size: 32px;
  font-weight: 600;
}

.About-Me-Text {
  text-align: right;
  font-size: 18px;
}

.Skill-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Skills-Flex-Item {
  text-align: center;
  width: 160px;
  display: inline-block;
  padding-bottom: 60px;
}

.Skills-Icon {
  width: 140px;
  height: 140px;
}

.Skills-Text {
  display: inline;
}

.Projects-Headline {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 2px solid aliceblue;
}

.Contact-Headline {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 2px solid aliceblue;
}

.Contact-Quip {
  margin-top: 30px;
}

.Contact-Line {
  border: solid transparent 1px;
  margin-top: 60px;
}

#Contact-Address {
  background-color: transparent;
}

#Contact-Email {
  background-color: transparent;
}

.Contact-Buttons-Holder {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.Contact-Button {
  background-color: #02555c;
  text-decoration: underline dotted lightblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3;
  height: 52px;
  width: 140px;
  cursor: pointer;
  border-radius: 5px;
  color: aliceblue;
}

.Contact-Button:hover {
  background-color: #1c6d73;
  transition: 0.2s;
}
