.App {
  text-align: center;
}

.App-Headline-Section {
  height: 190px;
  padding: 192px 48px 198px 48px;
}

.App-AboutMe-Section {
  height: 420px;
  padding: 48px 48px 16px 48px;
}

.App-Skills-Section {
  height: 880px;
  width: 65vw;
  padding: 48px 48px 16px 48px;
  border: 1px solid red;
  margin: auto;
}

.Headline-Component {
  display: inline-block;
  text-align: left;
}

.Headline-Name {
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 14px;
  margin-bottom: 28px;
  border-bottom: 2px solid black;
  width: 65vw;
}

.Headline-Title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 32px;
}

.Skills-Flex-Item {
  width: 160px;
  display: inline-block;
  border: 1px solid red;
}

.Skills-Icon {
  width: 140px;
  height: 140px;
}

.Skills-Text {
  display: inline;
}

.Projects-Headline {
  border-bottom: 1px solid darkblue;
}

.Contact-Headline {
  border-bottom: 1px solid darkblue;
}
