.App {
  text-align: center;
}

.Headline-Name {
  font-weight: 800;
  font-size: 32px;
}

.Headline-Underline {
  border-bottom: 1px solid darkblue;
}

.Headline-Title {
  font-weight: 400;
  font-size: 24px;
}
